{% extends "base.html" %}

{% block content %}
    <h1>Kitchen Service Home</h1>
    <p>Welcome to the Best Kitchen Service Ever!</p>
    <h2>Additional information:</h2>
    <p>The Kitchen service has the following record counts:</p>
    <ul>
        <li><strong>Dishes:</strong> {{ num_dishes }}</li>
        <li><strong>Cooks:</strong> {{ num_cooks }}</li>
        <li><strong>Dishtypes:</strong> {{ num_dishtype }}</li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>

{% endblock %}
